.contact-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.contact-title {
    width: 100%;
    position: relative;
}
.contact-title h4{
    font-size: 14vw;
    text-transform: uppercase;
    line-height: 0.9;
    white-space: nowrap;
}

.contact-title::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    height: 2px;
    width: 100%;
    background-color: #cbcbcc;
    z-index: 2;
}
.contact-subtitle1 {
    line-height: 1;
    font-size: 16px;
    font-family: 'Barlow Condensed', sans-serif;
    padding-left: 9.2%;
    font-weight: 300;
}

.contact-subtitle2 p{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 30px;
    line-height: 0.9;
    max-width: 220px;
    font-family: 'Barlow Condensed', sans-serif;
}
.contact-container {
    width: 100%;
}

 .contact-media {
}

.alternate-color {
    color: var(--dark-color);
}

.contact-col2::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 12%;
    width: 15%;
    height: 10px;
    background-color: var(--dark-color);
    z-index: 1;
}

@media (max-width: 1199px) {
    .contact-subtitle1 {
        padding-left: 4.5%;
        font-size: 14px;
    }
    .contact-col2::after {
        right: 1%;
        width: 10%;
        height: 6px;
    }
}

@media (max-width: 767px) {
    .contact-title h4{
        font-size: 16vw;
    }
    .contact-title::before {
        top: -10px;
    }
    .contact-subtitle1 {
        padding-left: 0;
        font-size: 14px;
    }
    .contact-subtitle2 p{
        font-size: 25px;
        direction: rtl;
    }
    .contact-col2::after {
        right: 0;
        width: 10%;
        height: 6px;
    }
    .contact-container {
        margin-top: 80px!important;
    }
}

@media (max-width: 425px) {
    .contact-title h4{
        font-size: 18vw;
    }
    .contact-subtitle2 p{
        font-size: 20px;
    }
    .contact-col2::after {
        right: 0;
        width: 20%;
        height: 6px;
    }
}