.contact-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.contact-title {
    width: 100%;
    position: relative;
}
.contact-title h4{
    font-size: 14vw;
    text-transform: uppercase;
    line-height: 0.9;
    white-space: nowrap;
}

.contact-title::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    height: 2px;
    width: 100%;
    background-color: #cbcbcc;
    z-index: 2;
}
.contact-subtitle1 {
    line-height: 1;
    font-size: 16px;
    font-family: 'Barlow Condensed', sans-serif;
    margin-left: 8.5%;
}
.contact-subtitle2 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.6vw;
    line-height: 0.9;
    max-width: 250px;
    font-family: 'Barlow Condensed', sans-serif;
}
.contact-container {
    width: 100%;
}

 .contact-media {
}

.alternate-color {
    color: var(--dark-color);
}

.contact-col2::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 7%;
    width: 6%;
    height: 10px;
    background-color: var(--dark-color);
    z-index: 1;
}