/* AboutButton.css */
.about-button {
    width: 150px;
    height: 60px;
    background: var(--light-color);
    position: relative;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    padding: 15px 25px;
    border: none;
    color: var(--dark-color);
    transition: all 250ms;
    cursor: pointer;
    margin: 0 auto;
    font-size: 20px;
}

.about-button::before {
    content: attr(data-tooltip);
    position: absolute;
    width: 90px;
    height: 35px;
    background-color: var(--light-color);
    color: var(--dark-color);
    border-radius: .25em;
    line-height: 35px;
    bottom: 75px;
    left: 25px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}

.about-button::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: var(--light-color);
    left: 65px;
    bottom: 65px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}

.text, .icon {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    transition: top 0.5s;
}

.text {
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-button:hover {
    color: var(--light-color);
    background-color: var(--dark-color);
}

.about-button:hover .text {
    top: -100%;
}

.about-button:hover .icon {
    top: 0;
}

.about-button:hover::before,
.about-button:hover::after {
    opacity: 1;
    visibility: visible;
}

.about-button:hover::after {
    bottom: 65px;
}

.about-button:active .text,
.about-button:focus .text {
    top: -100%;
    transition-delay: 0.5s;
}

.about-button:active .icon,
.about-button:focus .icon {
    top: 0;
    transition-delay: 0.5s;
}

.about-button:active,
.about-button:focus {
    color: var(--light-color);
    background-color: var(--dark-color);
    transition-delay: 0.5s;
}

.about-button:active::before,
.about-button:active::after,
.about-button:focus::before,
.about-button:focus::after {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
}

@media (max-width: 767px) {
    .about-button {
        width: 300px;
        border-radius: 0;
        margin: 0;
    }
}

